{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %} Kalit sozi esingizdan chiqtimi?{% endblock title %}

{% block content %}
    <h1>Kalit so'zi esingizdan chiqtimi?</h1>
    <p>Quyda email manzilingizni kiriting, biz sizga kalit sozini tiklash uchun qo'lllanma yuboramiz!</p>

    <form method="post">{% csrf_token %}
        {{form|crispy}}
        <!-- <input class="btn btn_success" type="submit"
        value="Yuborish">
         -->
        <button type="submit" class="btn btn-outline-warning">Yuborish</button>
    </form>



{% endblock content %}
